nav {

  display: flex;

  border: 2px solid black;

  height: 80px;

  align-items: center;

  justify-content: space-between;

  margin: 2px;

  border-radius: 5px;

  background-color: black;

}

nav img {

  width: 10%;

  border-radius: 50%;

  margin-left: 5px;
}

nav div {

  display: flex;
}

nav h3 {

  margin-left: 10px;

  color: white;
}

nav p {

  margin-left: 30px;

  margin-right: 15px;

  color: white;

  font-weight: bold;
}


nav p:hover,

nav h3:hover {

  text-decoration: underline;
}