body {

  background-color: ghostwhite;

  color: black;

  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

#dashboard {

  display: flex;

  justify-content: space-around;

  align-items: center;

  height: 75vh;
}